main {
    width: 100%;
}

.terminal {
    border: var(--border-size) var(--border-type) var(--border-color);
}

.terminal .line .request {
    display: flex;
}

.terminal .line .request input,
.terminal .line .request span,
.terminal .line .response {
    font-family: var(--font-type);
    font-size: var(--font-size);
    color: var(--font-color);

    margin: var(--margin);
}

.terminal .line input {
    width: 100%;
}

.terminal .line .response {
    margin: 0 0 0 1%;
}


.error {
    color: red;
}